@model TrelloClone.ViewModels.CardDetails.CardAssessment


<div class="title margin_container_bottom_middle">Оценка</div>


    @if (Model.SupervisorAssessment == 2 || Model.SupervisorAssessment == 3 || Model.SupervisorAssessment == 4)
    {
        <div class="choose_date_popup_wrapper grid_description_2fr" id="choose_date_popup_wrapper">


            <div class="container_description first_row_grid_description">


                <div class="icon_description">
                    <i class="fa-regular fa-calendar"></i>
                </div>


                <div class="mid_title">
                    Фактический срок реализации
                </div>


            </div>


            <div class="choose_date_popup_wrapper second_row_grid_description margin_container_bottom_middle">
                <div></div>


                <div class="choose_date_wrapper" id="choose_date">
                    <input type="date" asp-for="FactTerm" placeholder="Выберите период">
                </div>


            </div>
        </div>
    }


    @if (Model.Column > 3)
    {
        <div class="description_popup_card_wrapper grid_description_2fr margin_container_bottom">


            <div class="container_description first_row_grid_description">


                <div class="icon_description">
                    <i class="fa-regular fa-square-check" style="color: #0d062d;"></i>
                </div>


                <div class="mid_title">
                    Оценочное суждение работника
                </div>
            </div>


            <div class="second_row_grid_description margin_container_bottom_small" id="description">
                <div></div>


                <div class="select-box" id="selectBox">

                    @if (Model.Column != 5)
                    {
                        <div class="options-container active" id="options-container">


                            @foreach (var item in TrelloClone.Models.Assessment.AssessmentsForDropdown.GetAssessments())
                            {


                                <div class="option" onclick="optionClick(this)">


                                    <div class="select_user_assessment description" itemid="@item.Id">@item.Text</div>


                                    <div class="mid_description">@item.Description</div>
                                </div>
                            }
                        </div>


                    }

                    <div class="selected_main_wrapper" id="selected_main_wrapper" onclick="selectedContainerOpen(this)">


                        <i class="fa-solid fa-chevron-down"></i>


                        <div class="description value_asessessment" id="descriptionAssessmentVal">


                            @if (Model.EmployeeAssessment != null)
                            {
                                @TrelloClone.Models.Assessment.AssessmentsForDropdown.GetAssessments().FirstOrDefault(x => x.Id == Model.EmployeeAssessment).Text
                            }


                            else
                            {
                                <span class="placeholder_input">Введите оценочное суждение</span>
                            }


                        </div>


                        @if (Model.Column == 5)
                        {
                            <input class="description input_assessment_value" id="valueAsessessment" asp-for="EmployeeAssessment" type="text" hidden>
                        }


                        else
                        {
                            <input class="description input_assessment_value" id="valueAsessessment" asp-for="EmployeeAssessment" type="text" hidden>
                        }


                    </div>
                </div>
            </div>


            @if (Model.EmployeeComment == null)
            {
                <div class="first_row_grid_description select_description_assessment margin_container_bottom_middle">
                    <div></div>


                    @if (Model.Column == 5)
                    {
                        <textarea class="mid_description comment_assessment" id="commentWorkerAssessment" asp-for="EmployeeComment" placeholder="Комментарий не был введен"></textarea>
                    }


                    else
                    {
                        <textarea class="mid_description comment_assessment" id="commentWorkerAssessment" asp-for="EmployeeComment" placeholder="Введите отчет об исполнении задачи"></textarea>
                    }


                </div>

            }


            else
            {
                <div class="result_comment_assessment_container">


                    <div class="first_row_grid_description margin_container_bottom_middle">
                        <div><i class="fa-regular fa-comment"></i></div>
                        <div class="description">Отчет об исполнении задачи</div>
                    </div>


                    <div class="second_row_grid_description">
                        <div></div>
                        <div class="description result_comment_description">@Model.EmployeeComment</div>
                    </div>
                </div>
            }
        </div>


        @if (Model.Column > 4)
        {
            <div class="description_popup_card_wrapper grid_description_2fr margin_container_bottom">


                <div class="container_description first_row_grid_description">


                    <div class="icon_description">
                        <i class="fa-regular fa-square-check" style="color: #0d062d;"></i>
                    </div>


                    <div class="mid_title">
                        Оценочное суждение непосредственного руководителя
                    </div>
                </div>


                <div class="second_row_grid_description margin_container_bottom_small" id="description">
                    <div></div>


                    <div class="select-box" id="selectBox">

                        <div class="options-container" id="options-container">


                            @foreach (var item in TrelloClone.Models.Assessment.AssessmentsForDropdown.GetAssessments())
                            {


                                <div class="option" onclick="optionClick(this)">

                                    <div class="select_user_assessment description" itemid="@item.Id">@item.Text</div>

                                    <div class="mid_description">@item.Description</div>
                                </div>
                            }


                        </div>


                        <div class="selected_main_wrapper" id="selected_main_wrapper" onclick="selectedContainerOpen(this)">


                            <i class="fa-solid fa-chevron-down"></i>



                            <div class="description value_asessessment" id="descriptionAssessmentVal">


                                @if (Model.SupervisorAssessment != null)
                                {
                                    @TrelloClone.Models.Assessment.AssessmentsForDropdown.GetAssessments().FirstOrDefault(x => x.Id == Model.SupervisorAssessment).Text
                                }


                                else
                                {
                                    <span class="placeholder_input">Введите оценочное суждение</span>
                                }


                            </div>


                            <input class="description input_assessment_value" id="valueAsessessment" asp-for="SupervisorAssessment" type="text" hidden >
                        </div>


                    </div>
                </div>


                @if (Model.SupervisorComment == null)
                {
                    <div class="first_row_grid_description select_description_assessment margin_container_bottom_middle">
                        <div></div>
                        <textarea class="mid_description comment_assessment" id="commentBossAssessment" asp-for="SupervisorComment" placeholder="Введите комментарий к оценке"></textarea>
                    </div>
                }


                else
                {

                    <div class="first_row_grid_description">
                        <div><i class="fa-regular fa-comment"></i></div>
                        <div class="description">Отчет об исполнении задачи</div>
                    </div>
                    <div class="first_row_grid_description">
                        <div></div>
                        <div class="description">@Model.SupervisorComment</div>
                    </div>
                }


            </div>
        }
    }


    <div class="action_buttons_wrapper">


        @if ((Model.IsActiveLikeEmployee
        && Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == "Id").Value) == Model.UserId))
        {
            if (Model.Column == 4)
            {
                <button asp-controller="Card" asp-action="GiveEmployeeRating"
                        asp-route-CardId="@Model.Id"
                        asp-route-EmployeeAssessment="@Model.EmployeeAssessment"
                        asp-route-EmployeeComment="@Model.EmployeeComment"
                        class="action_btn green_btn">
                    <div class="description">Выставить оценочное суждение</div>
                </button>
            }
        }


        else if (Model.IsActiveLikeSupervisor
        && Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == "Id").Value) != Model.UserId)
        {
            if (Model.Column == 5)
            {
                <button asp-controller="Card" asp-action="GiveSupervisorRating"
                        asp-route-CardId="@Model.Id"
                        asp-route-FactTerm="@Model.FactTerm"
                        asp-route-SupervisorAssessment="@Model.SupervisorAssessment"
                        asp-route-SupervisorComment="@Model.SupervisorComment"
                        class="action_btn green_btn">
                    <div class="description">Выставить оценочное суждение</div>
                </button>
            }
        }


    </div>