@model TrelloClone.ViewModels.CardDetails


<div class="popup__bg">
    <div class="popup_wrapper">
        <div class="leftside_popup_buttons_wrapper">
            <div class="leftside_button_wrapper" onclick="editCard(@Model.Id)">
                <div class="leftside_button_icon">
                    <i class="fa-solid fa-house"></i>
                </div>
                @*<div class="mid_title">Инфо</div>*@
            </div>
            @if (Model.Column > 3)
            {

                <div class="leftside_button_wrapper active" onclick="editCard2(@Model.Id)">
                    <div class="leftside_button_icon">
                        <i class="fa-solid fa-check-to-slot"></i>
                    </div>
                    @if (Model.SupervisorAssessment == null || Model.EmployeeAssessment == null)
                    {
                        <div class="stage_indicator_circle red_bcolor"></div>
                    }
                    
                </div>
            }
            <div class="leftside_button_wrapper" onclick="editCard3(@Model.Id)">
                <div class="leftside_button_icon">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </div>
                @*<div class="mid_title">История</div>*@
            </div>
        </div>
        <div class="popup" cardId="@Model.Id">


            <div class="close-popup" onclick="closeCard(this)"><i class="fa-solid fa-xmark"></i></div>


            <div class="info_popup_card_wrapper">
                <div class="title margin_container_bottom_middle">Оценка</div>


                <form asp-controller="Card" asp-action="Update" enctype="multipart/form-data">


                    <input type="hidden" asp-for="Id" value="@Model.Id" />

                    <input type="hidden" asp-for="Column" value="@Model.Column" />

                    <input type="hidden" class="mid_description" id="description_editor" asp-for="Requirement" placeholder="Введите описание" required />

                    <input type="hidden" asp-for="Name" placeholder="Введите название" required />

                    <input type="hidden" asp-for="Term" placeholder="Выберите период" required>
             
                    @*Считываем номер колонки для отображения блока с оценками руководителя и сотрудника, отображение для колонок больше 3*@
                    @if (Model.Column > 3)
                    {
                        @*Считываем есть ли оценка или нет для отображения блока с оценкой сотрудника*@
                        @if (Model.EmployeeAssessment == null || Model.SupervisorAssessment == 7)
                        {
                            <div class="description_popup_card_wrapper grid_description_2fr margin_container_bottom">


                                <div class="container_description first_row_grid_description">


                                    <div class="icon_description">
                                        <i class="fa-regular fa-square-check" style="color: #0d062d;"></i>
                                    </div>


                                    <div class="mid_title">
                                        Оценочное суждение работника
                                    </div>
                                </div>


                                <div class="second_row_grid_description margin_container_bottom_small" id="description">
                                    <div></div>


                                    <div class="select-box" id="selectBox">


                                        <div class="options-container" id="options-container">


                                            @foreach (var item in TrelloClone.Models.Assessment.AssessmentList.GetAssessments())
                                            {


                                                <div class="option" onclick="optionClick(this)">


                                                    <div class="select_user_assessment description" itemid="@item.Id">@item.Text</div>


                                                    <div class="mid_description">@item.Description</div>
                                                </div>
                                            }
                                    </div>

                                    <div class="selected_main_wrapper" id="selected_main_wrapper" onclick="selectedContainerOpen(this)">


                                        <i class="fa-solid fa-chevron-down"></i>


                                        <div class="description value_asessessment" id="descriptionAssessmentVal">

                                                <span class="placeholder_input">Введите оценочное суждение</span>
                                            
                                        </div>


                                        @if (Model.Column == 5)
                                        {
                                            <input class="description input_assessment_value" id="valueAsessessment" asp-for="EmployeeAssessment" type="text" hidden>
                                        }


                                        else
                                        {
                                            <input class="description input_assessment_value" id="valueAsessessment" asp-for="EmployeeAssessment" type="text" hidden>
                                        }


                                    </div>
                                </div>
                            </div>

                                <div class="first_row_grid_description select_description_assessment margin_container_bottom_middle">
                                    <div></div>

                                    <textarea class="mid_description comment_assessment" id="commentWorkerAssessment" asp-for="EmployeeComment" placeholder="Введите отчет об исполнении задачи"></textarea>
                                    
                                </div>



                            </div>
                        }
                        else
                        {
                            <div class="container_description first_row_grid_description">


                                <div class="icon_description">
                                    <i class="fa-regular fa-bookmark" style="color: #0d062d;"></i>
                                    
                                </div>


                                <div class="mid_title_wrapper">

                                    <div class="mid_title">
                                        Результат самооценки сотрудника
                                    </div>

                                    
                                    
                                </div>
                            </div>
                            <div class="description_popup_card_wrapper result_employee_assessment margin_container_bottom" id="result_employee_assessment">


                                <div class="container_description">
                                    <div class="description">
                                        Оценочное суждение работника
                                    </div>
                                </div>


                                <div class="result_assessment_wrapper margin_container_bottom_small" id="description">
                                    @if (Model.EmployeeAssessment != 0 && Model.EmployeeAssessment != null)
                                    {
                                        @TrelloClone.Models.Assessment.AssessmentList.GetAssessments().FirstOrDefault(x => x.Id == Model.EmployeeAssessment).Text
                                    }else{
                                        <span class="placeholder_input">Оценка не была введена</span>
                                    }
                                    
                                </div>

                                @*Считывает наличие коммента сотрудника в БД*@
                                @if (Model.EmployeeComment != null)
                                {
                                    <div class="result_comment_assessment_container">


                                        <div class="margin_container_bottom_small report_employee_result_container" >
                                            <div class="description">Отчет об исполнении задачи работника</div>
                                            <i class="fa-solid fa-circle-chevron-down icon_dropdown" onclick="openDropdownList(this)"></i>
                                        </div>

                                        <div class="comment_area report_employee_result" id="report_employee_result">


                                                <div class="mid_description">@Model.EmployeeComment</div>


                                            </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="result_comment_assessment_container">


                                        <div class="margin_container_bottom_small report_employee_result_container">
                                            <div class="description">Отчет об исполнении задачи работника</div>
                                            <i class="fa-solid fa-circle-chevron-down icon_dropdown" onclick="openDropdownList(this)"></i>
                                        </div>

                                        <div class="mid_description report_employee_result" id="report_employee_result">Отчет не был введен</div>
                                    </div>
                                }

                            </div>
                            
                                
                        }


                        @if (Model.Column == 5 && Model.EmployeeAssessment != null && Model.SupervisorAssessment == null ||Model.SupervisorAssessment == 7)
                        {
                            <div class="description_popup_card_wrapper grid_description_2fr margin_container_bottom">


                                <div class="container_description first_row_grid_description">


                                    <div class="icon_description">
                                        <i class="fa-regular fa-square-check" style="color: #0d062d;"></i>
                                    </div>


                                    <div class="mid_title">
                                        Оценочное суждение непосредственного руководителя
                                    </div>
                                </div>


                                <div class="second_row_grid_description margin_container_bottom_small" id="description">
                                    <div></div>


                                    <div class="select-box" id="selectBox">
                                        <div class="options-container" id="options-container">


                                                @foreach (var item in TrelloClone.Models.Assessment.AssessmentList.GetAssessments())
                                                {


                                                    <div class="option" onclick="optionClick(this)">

                                                        <div class="select_user_assessment description" itemid="@item.Id">@item.Text</div>

                                                        <div class="mid_description">@item.Description</div>
                                                    </div>
                                                }


                                            </div>
                                        <div class="selected_main_wrapper" id="selected_main_wrapper" onclick="selectedContainerOpen(this)">


                                            <i class="fa-solid fa-chevron-down"></i>



                                            <div class="description value_asessessment" id="descriptionAssessmentVal">

                                                <span class="placeholder_input">Введите оценочное суждение</span>

                                            </div>


                                            <input class="description input_assessment_value" id="valueAsessessment" asp-for="SupervisorAssessment" type="text" hidden>
                                        </div>


                                    </div>
                                </div>

                                <div class="first_row_grid_description select_description_assessment margin_container_bottom_middle">
                                    <div></div>

                                    <textarea class="mid_description comment_assessment" id="commentWorkerAssessment" asp-for="SupervisorComment" placeholder="Введите комментарий к оценке"></textarea>

                                </div>

                                <div class="choose_fact_date_container" id="choose_fact_date_container">
                                     <div class="choose_date_popup_wrapper grid_description_2fr" id="choose_date_popup_wrapper">
                                        <div class="container_description first_row_grid_description">


                                        <div class="icon_description">
                                        <i class="fa-regular fa-calendar"></i>
                                        </div>


                                        <div class="mid_title">
                                        Фактический срок реализации
                                        </div>


                                        </div>
                                        <div class="choose_date_popup_wrapper second_row_grid_description margin_container_bottom_middle">
                                            <div></div>
                                            <div class="choose_date_wrapper" id="choose_date">
                                                <input type="date" asp-for="FactTerm" id="factTerm" placeholder="Выберите период">
                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        }
                        else if (Model.SupervisorAssessment != null && Model.EmployeeAssessment != null)
                        {
                            <div class="container_description first_row_grid_description">


                                <div class="icon_description">
                                    <i class="fa-regular fa-bookmark" style="color: #0d062d;"></i>

                                </div>


                                <div class="mid_title_wrapper">

                                    <div class="mid_title">
                                        Результат оценки непосредственного руководителя
                                    </div>

                                </div>
                            </div>
                            <div class="description_popup_card_wrapper margin_container_bottom" >


                                <div class="container_description">
                                    <div class="description">
                                        Оценочное суждение непосредственного руководителя
                                    </div>
                                </div>


                                <div class="result_assessment_wrapper margin_container_bottom_small" id="description">

                                    @if (Model.SupervisorAssessment != 0 && Model.SupervisorAssessment != null)
                                    {
                                        @TrelloClone.Models.Assessment.AssessmentList.GetAssessments().FirstOrDefault(x => x.Id == Model.SupervisorAssessment).Text
                                    }
                                    else
                                    {
                                        <span class="placeholder_input">Оценка не была введена</span>
                                    }
                                    
                                </div>

                                @*Считывает наличие коммента сотрудника в БД*@
                                @if (Model.SupervisorComment != null)
                                {
                                    <div class="result_comment_assessment_container">


                                        <div class="margin_container_bottom_small">
                                            <div class="description">Комментарий непосредственного руководителя к оценке</div>
                                        </div>

                                        <div class="comment_area">


                                            <div class="mid_description">@Model.SupervisorComment</div>


                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="result_comment_assessment_container">


                                        <div class="margin_container_bottom_small">
                                            <div class="description">Комментарий непосредственного руководителя к оценке</div>
                                        </div>

                                        <div class="mid_description">Комментарий непосредственного руководителя к оценке не был введен</div>
                                    </div>
                                }

                            </div>


                        }
                    }


                    <div class="action_buttons_wrapper">


                        @if (Convert.ToInt32(User.FindFirst("Id").Value) == Model.UserId)
                        {


                            @if (Model.Column == 1)
                            {
                                <button asp-controller="UserBoard" asp-action="MoveCard" 
                                        asp-route-ColumnId="@Model.ColumnId"
                                        asp-route-CardId="@Model.Id" class="action_btn green_btn"
                                        asp-route-Name="@Model.Name"
                                        asp-route-Term="@Model.Term"
                                        asp-route-Requirement="@Model.Requirement">
                                    <div class="description">На согласование</div>
                                </button>
                            }


                            else if (Model.Column == 4)
                            {
                                <button asp-controller="Card" asp-action="GiveEmployeeRating"
                                        asp-route-CardId="@Model.Id"
                                        asp-route-Name="@Model.Name"
                                        asp-route-Term="@Model.Term"
                                        asp-route-Requirement="@Model.Requirement"
                                        asp-route-EmployeeAssessment="@Model.EmployeeAssessment"
                                        asp-route-EmployeeComment="@Model.EmployeeComment"
                                        class="action_btn green_btn">
                                    <div class="description">Выставить оценочное суждение</div>
                                </button>
                            }
                        }


                        else if (Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == "Id").Value) != Model.UserId)
                        {


                            if (Model.Column == 2)
                            {
                                <button asp-controller="UserBoard" asp-action="MoveCard" asp-route-ColumnId="@Model.ColumnId" asp-route-CardId="@Model.Id" class="action_btn green_btn">
                                    <div class="description">Согласовано</div>
                                </button>


                                <button asp-controller="UserBoard" asp-action="RejectCard" asp-route-ColumnId="@Model.ColumnId" asp-route-CardId="@Model.Id" class="action_btn orange_btn">
                                    <div class="description">На доработку</div>
                                </button>
                            }


                            else if (Model.Column == 5)
                            {
                                <button asp-controller="Card" asp-action="GiveSupervisorRating"
                                        asp-route-CardId="@Model.Id"
                                        asp-route-Name="@Model.Name"
                                        asp-route-Term="@Model.Term"
                                        asp-route-FactTerm="@Model.FactTerm"
                                        asp-route-Requirement="@Model.Requirement"
                                        asp-route-SupervisorAssessment="@Model.SupervisorAssessment"
                                        asp-route-SupervisorComment="@Model.SupervisorComment"
                                        class="action_btn green_btn">
                                    <div class="description">Выставить оценочное суждение</div>
                                </button>
                            }
                        }

                        else if (Model.Column != 6)
                        {
                            <button type="submit" class="action_btn primary_btn">
                                <div class="description">Сохранить изменения</div>
                            </button>
                        }


                    </div>
                </form>
            </div>
        </div>
        <div class="comment_area_sidebar_wrapper">
            <div class="title margin_container_bottom_middle">Комментарии</div>
            <textarea class="mid_description" id="commentAreaElem" placeholder="Введите комментарий" onclick="addCommentArea(this)"></textarea>
            <div class="add_texteditor_buttons_wrapper add_comment_btns margin_container_top_small" id="addCommentBtns">
                <div class="action_buttons_wrapper ">


                    <div class="action_btn primary_btn" id="saveTextArea" onclick="saveComment(this)">
                        <div class="description">Добавить</div>
                    </div>


                    <div class="action_btn close_action_btn white_btn" id="saveTextArea" onclick="closeTextEditor(this)">
                        <div>
                            <i class="fa-solid fa-xmark" style="color: #000000;"></i>
                        </div>
                    </div>


                </div>
            </div>
            <div class="comment_popup_card_wrapper grid_description_2fr margin_container_bottom" id="comment_popup_card_wrapper">


                @*<div class="container_description first_row_grid_description">
                <div class="icon_description">
                <i class="fa-regular fa-comment" style="color: #0D062D;"></i>
                </div>

                <div class="mid_title">
                Комментарии
                </div>
                </div>*@






                @foreach (var comment in Model.Comments)
                {


                    <div class="comment_user_wrapper">
                        <div class="first_row_grid_description margin_container_top_middle">


                            <div class="card_holders_wrapper">
                                <div class="holder_image_wrapper" style="background-image:url('@comment.UserImg');">


                                    @*<img src="@comment.UserImg" alt="holder_image">*@


                                </div>
                            </div>


                            <div class="mid_title">
                                @comment.UserName
                            </div>
                        </div>


                        <div class="second_row_grid_description" id="description">
                            <div></div>


                            <div class="commentarea_wrapper" id="commentarea_wrapper">
                                <div class="comment_area">


                                    <div class="mid_description">@comment.Content</div>


                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts{


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


}