@model TrelloClone.ViewModels.CardDetails


<div class="popup__bg">
    <div class="popup" cardId="@Model.Id">


        <div class="close-popup" onclick="closeCard(this)"><i class="fa-solid fa-xmark"></i></div>


        <div class="info_popup_card_wrapper">


            <form asp-controller="Card" asp-action="Update" enctype="multipart/form-data">


                <input type="hidden" asp-for="Id" value="@Model.Id" />


                <input type="hidden" asp-for="Column" value="@Model.Column" />


                <div class="title_popup_wrapper grid_description_2fr" id="title_popup_wrapper">
                    <div class="container_description first_row_grid_description">


                        <div class="icon_description">
                            <i class="fa-regular fa-credit-card"></i>
                        </div>


                        <div class="card_name_input_wrapper card_detail_active">
                            <input type="text" asp-for="Name" placeholder="Введите название" />
                        </div>


                    </div>
                </div>


                <div class="description_popup_card_wrapper grid_description_2fr margin_container_bottom">


                    <div class="container_description first_row_grid_description">


                        <div class="icon_description">
                            <i class="fa-solid fa-bars" style="color: #0D062D;"></i>
                        </div>


                        <div class="mid_title">
                            Требование к SMART-задаче
                        </div>


                    </div>


                    <div class="second_row_grid_description" id="description">
                        <div></div>


                        <textarea class="mid_description" id="description_editor" asp-for="Requirement" placeholder="Введите описание"></textarea>
                    </div>


                </div>


                <div class="choose_date_popup_wrapper grid_description_2fr" id="choose_date_popup_wrapper">


                    <div class="container_description first_row_grid_description">


                        <div class="icon_description">
                            <i class="fa-regular fa-calendar"></i>
                        </div>


                        <div class="mid_title">
                            Плановый срок реализации
                        </div>


                    </div>


                    <div class="choose_date_popup_wrapper second_row_grid_description margin_container_bottom_middle">
                        <div></div>


                        <div class="choose_date_wrapper" id="choose_date">
                            <input type="date" asp-for="Term" id="input-datepicker" placeholder="Выберите период">
                        </div>


                    </div>
                </div>


                <div class="upload_files_main_wrapper grid_description_2fr margin_container_bottom">


                    <div class="container_description first_row_grid_description">


                        <div class="icon_description">
                            <i class="fa-solid fa-paperclip" style="color: #191919;"></i>
                        </div>


                        <div class="mid_title_wrapper">


                            <div class="mid_title">
                                Вложения
                            </div>


                            <div class="upload_file_btn_wrapper">
                                <div class="input__wrapper">


                                    <input type="file" id="input__file" class="input input__file" multiple onchange="setFileData(this)">


                                    <label for="input__file" class="input__file-button">
                                        <span class="input__file-icon-wrapper"><i class="fa-solid fa-plus"></i></span>
                                        <span class="input__file-button-text">Добавить</span>
                                    </label>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="upload_files_wrapper second_row_grid_description">
                        <div></div>


                        <div class="upload_files_list_wrapper" id="upload_files_list_wrapper">


                            <section class="progress-area"></section>


                            <section class="uploaded-area">


                                @foreach (var file in Model.Files)
                                {

                                    <li class="row">


                                        <div class="content upload">


                                            <div class="content_upload_type_icon">
                                                <i class="fa-solid fa-file-lines"></i>
                                            </div>


                                            <div class="details">
                                                <span class="name">@file.Name • Добавлено</span>
                                                @*<span class="size">@file.Size</span>*@
                                                <a href="@file.Path"><span class="description download">Скачать</span></a>
                                            </div>
                                        </div>


                                        <div class="content_upload_delete_icon" onclick="deleteFile(@file.Id, @Model.Id)">
                                            <i class="fa-solid fa-xmark delete_upload_file"></i>
                                        </div>


                                    </li>
                                }
                            </section>
                        </div>
                    </div>
                </div>


                <div class="comment_popup_card_wrapper grid_description_2fr margin_container_bottom" id="comment_popup_card_wrapper">


                    <div class="container_description first_row_grid_description">
                        <div class="icon_description">
                            <i class="fa-regular fa-comment" style="color: #0D062D;"></i>
                        </div>

                        <div class="mid_title">
                            Комментарии
                        </div>
                    </div>


                    <div class="second_row_grid_description" id="description">
                        <div></div>


                        <textarea class="mid_description" id="commentAreaElem" placeholder="Введите комментарий" onclick="addCommentArea(this)"></textarea>


                        <div class="second_row_grid_description add_texteditor_buttons_wrapper add_comment_btns" id="addCommentBtns">
                            <div></div>
                            <div class="action_buttons_wrapper">


                                <div class="action_btn primary_btn" id="saveTextArea" onclick="saveComment(this)">
                                    <div class="description">Сохранить</div>
                                </div>


                                <div class="action_btn close_action_btn white_btn" id="saveTextArea" onclick="closeTextEditor(this)">
                                    <div>
                                        <i class="fa-solid fa-xmark" style="color: #000000;"></i>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>


                    @foreach (var comment in Model.Comments)
                    {


                        <div class="comment_user_wrapper">
                            <div class="first_row_grid_description margin_container_top_middle">


                                <div class="card_holders_wrapper">
                                    <div class="holder_image_wrapper">


                                        <img src="@comment.UserImg" alt="holder_image">


                                    </div>
                                </div>


                                <div class="mid_title">
                                    @comment.UserName
                                </div>
                            </div>


                            <div class="second_row_grid_description" id="description">
                                <div></div>


                                <div class="commentarea_wrapper" id="commentarea_wrapper">
                                    <div class="comment_area">


                                        <div class="mid_description">@comment.Content</div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                @if (Model.Column > 3)
                {
                    <div class="description_popup_card_wrapper grid_description_2fr margin_container_bottom">


                        <div class="container_description first_row_grid_description">


                            <div class="icon_description">
                                <i class="fa-regular fa-square-check" style="color: #0d062d;"></i>
                            </div>


                            <div class="mid_title">
                                Оценочное суждение работника
                            </div>
                        </div>


                        <div class="second_row_grid_description" id="description">
                            <div></div>


                            <div class="select-box" id="selectBox">


                                <div class="options-container" id="options-container">


                                    @foreach (var item in TrelloClone.Models.Assessment.AssessmentsForDropdown.GetAssessments())
                                    {


                                        <div class="option" onclick="optionClick(this)">


                                            <div class="select_user_assessment description" itemid="@item.Id">@item.Text</div>


                                            <div class="mid_description">@item.Description</div>
                                        </div>
                                    }
                                </div>


                                <div class="selected_main_wrapper" id="selected_main_wrapper" onclick="selectedContainerOpen(this)">


                                    <i class="fa-solid fa-chevron-down"></i>


                                    <div class="description value_asessessment" id="descriptionAssessmentVal">
                                        @if (Model.EmployeeAssessment != null)
                                        {
                                            @TrelloClone.Models.Assessment.AssessmentsForDropdown.GetAssessments().FirstOrDefault(x => x.Id == Model.EmployeeAssessment).Text
                                        }
                                        else
                                        {
                                            <span class="placeholder_input">Введите оценочное суждение</span>
                                        }
                                    </div>


                                    <input class="description input_assessment_value" id="valueAsessessment" asp-for="EmployeeAssessment" type="text" hidden required>
                                </div>


                            </div>
                        </div>
                    </div>





                    @if (Model.Column > 4)
                    {
                        <div class="description_popup_card_wrapper grid_description_2fr margin_container_bottom">


                            <div class="container_description first_row_grid_description">


                                <div class="icon_description">
                                    <i class="fa-regular fa-square-check" style="color: #0d062d;"></i>
                                </div>


                                <div class="mid_title">
                                    Оценочное суждение непосредственного руководителя
                                </div>
                            </div>


                            <div class="second_row_grid_description" id="description">
                                <div></div>


                                <div class="select-box" id="selectBox">


                                    <div class="options-container" id="options-container">


                                        @foreach (var item in TrelloClone.Models.Assessment.AssessmentsForDropdown.GetAssessments())
                                        {


                                            <div class="option" onclick="optionClick(this)">

                                                <div class="select_user_assessment description" itemid="@item.Id">@item.Text</div>

                                                <div class="mid_description">@item.Description</div>
                                            </div>
                                        }
                                    </div>


                                    <div class="selected_main_wrapper" id="selected_main_wrapper" onclick="selectedContainerOpen(this)">


                                        <i class="fa-solid fa-chevron-down"></i>


                                        <div class="description value_asessessment" id="descriptionAssessmentVal">


                                            @if (Model.SupervisorAssessment != null)
                                            {
                                                @TrelloClone.Models.Assessment.AssessmentsForDropdown.GetAssessments().FirstOrDefault(x => x.Id == Model.SupervisorAssessment).Text
                                            }


                                            else
                                            {
                                                <span class="placeholder_input">Введите оценочное суждение</span>
                                            }


                                        </div>


                                        <input class="description input_assessment_value" id="valueAsessessment" asp-for="SupervisorAssessment" type="text" hidden required>
                                    </div>


                                </div>
                            </div>
                        </div>
                    }
                }

                <div class="history_main_wrapper grid_description_2fr margin_container_bottom">


                    <div class="container_description first_row_grid_description">


                        <div class="icon_description">
                            <i class="fa-solid fa-clock-rotate-left" style="color: #191919;"></i>
                        </div>


                        <div class="mid_title_wrapper">


                            <div class="mid_title">
                                История
                            </div>
                            <div class="icon_dropdown" onclick="openDropdownList(this)">
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                        </div>
                    </div>

                    <div class="history_list_wrapper" id="history_list_wrapper">
                        @*БЛОК НИЖЕ В FOREACH*@
                        <div class="history_item_wrapper">
                            <div class="first_row_grid_description">


                                <div class="card_holders_wrapper">
                                    <div class="holder_image_wrapper">
                                        @*СЮДА ФОТКУ*@
                                        <img src="~/image/profile.jpg" alt="holder_image">
                                    </div>
                                </div>


                                <div class="mid_title">
                                    @*СЮДА ИМЯ КТО ВНЕС ИЗМЕНЕНИЯ*@
                                    Томчик Ян
                                </div>
                            </div>


                            <div class="second_row_grid_description" id="description">
                                <div></div>
                                <div class="history_info_wrapper">
                                    <div class="history_description_wrapper mid_description">
                                        @*extra_description - ЧТО СДЕЛАЛ ПОЛЬЗОВАТЕЛЬ ИЗМЕНИД/ПРИКРЕПИЛ/СЪЕБАЛСЯ НАХУЙ И ТД*@
                                        @*main_description_history - ЧТО НА ЧТО ИЗМЕНИЛ*@
                                        <span class="extra_description">Изменил(а)</span>
                                        <span class="main_description_history">При нажатии "На доработку" задача возвращается на этап "Составление SMART-задач работником".</span>
                                        <span class="extra_description">На</span>
                                        <span class="main_description_history">При нажатии "На доработку"</span>
                                    </div>
                                    @*СЮДА ДАТУ ВНЕСЕННОГО ДЕЙСТВИЯ*@
                                    <div class="date_description">15 ноября 2023</div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="action_buttons_wrapper">


                    @if (Model.Column != 6)
                    {
                        <button type="submit" class="action_btn primary_btn">
                            <div class="description">Сохранить изменения</div>
                        </button>
                    }


                    @if ((Model.IsActiveLikeEmployee
                    && Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == "Id").Value) == Model.UserId))
                    {


                        @if (Model.Column == 1)
                        {
                            <button asp-controller="UserBoard" asp-action="MoveCard" asp-route-ColumnId="@Model.ColumnId" asp-route-CardId="@Model.Id" class="action_btn green_btn">
                                <div class="description">На согласование</div>
                            </button>
                        }


                        else if (Model.Column == 4)
                        {
                            <button type="submit" class="action_btn green_btn">
                                <div class="description">Выставить оценочное суждение</div>
                            </button>
                        }
                    }


                    else if (Model.IsActiveLikeSupervisor
                    && Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == "Id").Value) != Model.UserId)
                    {


                        if (Model.Column == 2)
                        {
                            <button asp-controller="UserBoard" asp-action="MoveCard" asp-route-ColumnId="@Model.ColumnId" asp-route-CardId="@Model.Id" class="action_btn green_btn">
                                <div class="description">Согласовано</div>
                            </button>


                            <button asp-controller="UserBoard" asp-action="RejectCard" asp-route-ColumnId="@Model.ColumnId" asp-route-CardId="@Model.Id" class="action_btn primary_btn">
                                <div class="description">В доработку</div>
                            </button>
                        }


                        else if (Model.Column == 5)
                        {
                            <button type="submit" class="action_btn primary_btn">
                                <div class="description">Выставить оценочное суждение</div>
                            </button>
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


}