@model TrelloClone.ViewModels.UserBoardView


<div class="home-content">


    <div class="home_content_info">


        <div class="home_content_info_icon">
            @*<i class="fa-solid fa-folder"></i>*@
            <img src="~/image/icons/folder-solid.svg" />
        </div>


        <div class="mid_title">
            @Model.Name
        </div>


    </div>
</div>


<div class="header_btns_wrapper">


    <a class="action_btn header_btn active" asp-controller="UserBoard" asp-action="ListMyCards">


        <div class="action_btn_icon ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M2 2h20v2H2z"></path><rect x="5" y="6" width="6" height="16" rx="1"></rect><rect x="13" y="6" width="6" height="12" rx="1"></rect></svg>
        </div>


        <div class="description">Доска</div>
    </a>


    <a class="action_btn header_btn" asp-controller="UserBoard" asp-action="ListMyCardsTable">


        <div class="action_btn_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M2 2h2v20H2z"></path><rect x="6" y="13" width="16" height="6" rx="1"></rect><rect x="6" y="5" width="12" height="6" rx="1"></rect></svg>
        </div>


        <div class="description">Список</div>
    </a>


    <a class="action_btn header_btn" asp-controller="UserBoard" asp-action="ListArchiveCards" asp-route-userId="@Model.Id">


        <div class="action_btn_icon">
            @*<i class="fa-solid fa-box-archive"></i>*@
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><path d="M32 32H480c17.7 0 32 14.3 32 32V96c0 17.7-14.3 32-32 32H32C14.3 128 0 113.7 0 96V64C0 46.3 14.3 32 32 32zm0 128H480V416c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V160zm128 80c0 8.8 7.2 16 16 16H336c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16z" /></svg>
            @*<img src="/image//icons/box-archive-solid-grey.svg" />*@
        </div>


        <div class="description">Архив</div>
    </a>
</div>


<section class="main_container_content" id="main_container_content">
    <div class="stages_main_wrapper ">
        @foreach (var column in Model.Columns)
        {
            <div class="stage_wrapper" id="@column.Id">
                <div class="stage_header_info_wrapper margin_container_bottom_middle">
                    <div class="stage_info_main_wrapper margin_container_bottom_small">
                        <div class="stage_info_wrapper">
                            @if (column.Number == 1)
                            {
                                <div class="stage_indicator_circle default_bcolor"></div>
                            }
                            else if (column.Number == 2)
                            {
                                <div class="stage_indicator_circle yellow_bcolor"></div>
                            }
                            else if (column.Number == 3)
                            {
                                <div class="stage_indicator_circle green_bcolor"></div>
                            }
                            else if (column.Number == 4)
                            {
                                <div class="stage_indicator_circle blue_bcolor"></div>
                            }
                            else if (column.Number == 5)
                            {
                                <div class="stage_indicator_circle blue_bcolor"></div>
                            }
                            else if (column.Number == 6)
                            {
                                <div class="stage_indicator_circle green_bcolor"></div>
                            }
                            <div class="mid_title">
                                @column.Title
                            </div>
                        </div>
                        <div class="count_cards_wrapper">
                            <div class="mid_description">@column.Cards.Count()</div>
                        </div>
                    </div>
                    @if (column.Number == 1)
                    {
                        <div class="stage_indicator_line default_bcolor"></div>
                    }
                    else if (column.Number == 2)
                    {
                        <div class="stage_indicator_line yellow_bcolor"></div>
                    }
                    else if (column.Number == 3)
                    {
                        <div class="stage_indicator_line green_bcolor"></div>
                    }
                    else if (column.Number == 4)
                    {
                        <div class="stage_indicator_line blue_bcolor"></div>
                    }
                    else if (column.Number == 5)
                    {
                        <div class="stage_indicator_line blue_bcolor"></div>
                    }
                    else if (column.Number == 6)
                    {
                        <div class="stage_indicator_line green_bcolor"></div>
                    }
                </div>
                <div class="cards_main_wrapper margin_container_bottom_middle">
                    @foreach (var card in column.Cards)
                    {
                        <div class="card_wrapper @(card.SupervisorAssessment == 7 ? "expired" : "primary")">

                            @if(column.Number != 6)
                            {
                                <div class="action_btn close_action_btn white_btn" cardId="@card.Id" onclick="openVerifyPopup(this)">
                                    @*<i class="fa-solid fa-trash" style="color:#787486;"></i>*@
                                    <img src="~/image/icons/trash-solid-dark-grey.svg"/>
                                </div>
                            }


                            <div class="card_wrapper_content open-popup" idcard="@card.Id" numCol ="@column.Number">
                                <div class="card_header_wrapper margin_container_bottom_small">
                                    <div class="card_name_wrapper">
                                        <div class="mid_description">
                                            @card.Term.ToString("MMMM yyyy")
                                        </div>
                                    </div>
                                </div>
                                <div class="mid_title margin_container_bottom_extrasmall">
                                    @card.Name
                                </div>
                                <div class="mid_description margin_container_bottom_small">
                                    @if (column.Number == 6)
                                    {
                                        @if (card.SupervisorAssessment != 0 && card.SupervisorAssessment != null)
                                        {
                                            @TrelloClone.Models.Assessment.AssessmentList.GetAssessments().FirstOrDefault(x => x.Id == card.SupervisorAssessment).Text
                                        }else{
                                            <div>Оценка не была введена</div>
                                        }
                                        
                                    }
                                    else{

                                        @card.Requirement

                                        }
                                        
                                </div>
                                <div class="card_footer_wrapper">
                                    @if (User.FindFirst("ImagePath") != null)
                                    {
                                        <div class="card_holders_wrapper">
                                            <div class="holder_image_wrapper" style="background-image:url('@User.FindFirst("ImagePath").Value')">
                                                @*<img src="@User.FindFirst("ImagePath").Value" alt="profileImg">*@
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card_holders_wrapper">
                                            <div class="holder_image_wrapper" style="background-image:url('/image/default_profile_icon.svg')">
                                                @*<img src="/image/default_profile_icon.svg" alt="profileImg">*@
                                            </div>
                                        </div>
                                    }
                                    <div class="card_details_info_wrapper">
                                        <div class="card_detail_item">
                                            <div class="item_icon">
                                                @*<i class="fa-regular fa-message" style="color: #787486;"></i>*@
                                                <img src="~/image/icons/comment-dark-grey.svg" />
                                            </div>
                                            <div class="item_count">
                                                <div class="mid_description">
                                                    @card.CountOfComments
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card_detail_item">
                                            <div class="item_icon">
                                                @*<i class="fa-solid fa-paperclip" style="color: #787486;"></i>*@
                                                <img src="~/image/icons/paperclip-solid-dark-grey.svg" />
                                            </div>
                                            <div class="item_count">
                                                <div class="mid_description">
                                                    @card.CountOfFiles
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                @if (column.Number == 1)
                {
                    <button class="action_btn white_btn open-popup-add">


                        <div class="action_btn_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="15" width="13" viewBox="0 0 448 512">
                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                                </svg>
                            @*<i class="fa-solid fa-plus"></i>*@
                        </div>


                        <div class="description">
                            Добавить задачу
                        </div>
                    </button>
                }
            </div>
        }
    </div>
</section>


<script>


    function moveCard(ColumnId, CardId, EmployeeId) {
        var url = "/UserBoard/MoveCard";
        formData = new FormData();
        formData.append("ColumnId", ColumnId);
        formData.append("CardId", CardId);

        const nameCard = document.getElementById('nameCardItem').value
        const termCard = document.getElementById('termCardItem').value
        const requirementCard = document.getElementById('requirementCardItem').value;

        formData.append("Name", nameCard);
        formData.append("Term", termCard);
        formData.append("Requirement", requirementCard);      

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: async function (response) {
                window.location.href = "@Url.Action("ListMyCards", "UserBoard")";
            }
        });
    }   


</script>