@model TrelloClone.ViewModels.UserBoardView


<div class="home-content">


    <div class="home_content_info">
        <i class='bx bx-menu'></i>
    </div>


</div>


<section class="main_container_content" id="main_container_content">
    <div class="stages_main_wrapper">


        @foreach (var column in Model.Columns)
        {
            <div class="stage_wrapper" id="@column.Id">


                <div class="stage_header_info_wrapper margin_container_bottom_middle">
                    <div class="stage_info_main_wrapper margin_container_bottom_small">


                        <div class="stage_info_wrapper">
                            @if (column.Number == 1)
                            {
                                <div class="stage_indicator_circle default_bcolor"></div>
                            }
                            else if (column.Number == 2)
                            {
                                <div class="stage_indicator_circle yellow_bcolor"></div>
                            }
                            else if (column.Number == 3)
                            {
                                <div class="stage_indicator_circle green_bcolor"></div>
                            }
                            else if (column.Number == 4)
                            {
                                <div class="stage_indicator_circle blue_bcolor"></div>
                            }
                            else if (column.Number == 5)
                            {
                                <div class="stage_indicator_circle blue_bcolor"></div>
                            }
                            else if (column.Number == 6)
                            {
                                <div class="stage_indicator_circle green_bcolor"></div>
                            }


                            <div class="mid_title">
                                @column.Title
                            </div>
                        </div>


                        <div class="count_cards_wrapper">
                            <div class="mid_description">@column.Cards.Count()</div>
                        </div>


                    </div>
                    @if (column.Number == 1)
                    {
                        <div class="stage_indicator_line default_bcolor"></div>
                    }
                    else if (column.Number == 2)
                    {
                        <div class="stage_indicator_line yellow_bcolor"></div>
                    }
                    else if (column.Number == 3)
                    {
                        <div class="stage_indicator_line green_bcolor"></div>
                    }
                    else if (column.Number == 4)
                    {
                        <div class="stage_indicator_line blue_bcolor"></div>
                    }
                    else if (column.Number == 5)
                    {
                        <div class="stage_indicator_line blue_bcolor"></div>
                    }
                    else if (column.Number == 6)
                    {
                        <div class="stage_indicator_line green_bcolor"></div>
                    }


                </div>


                <div class="cards_main_wrapper margin_container_bottom_middle">
                    @foreach (var card in column.Cards)
                    {
                        <div class="card_wrapper open-popup" idcard="@card.Id">


                            <div class="card_header_wrapper margin_container_bottom_extrasmall">
                                <div class="card_name_wrapper">
                                    <div class="mid_description">
                                        @Convert.ToDateTime(card.Term).ToString("MMMM yyyy")
                                    </div>
                                </div>
                            </div>


                            <div class="mid_title margin_container_bottom_extrasmall">
                                @card.Name
                            </div>


                            <div class="mid_description margin_container_bottom_small">
                                @card.Requirement
                            </div>


                            <div class="card_footer_wrapper">


                                @if (User.Claims.FirstOrDefault(c => c.Type == "ImagePath") != null)
                                {
                                    <div class="card_holders_wrapper">
                                        <div class="holder_image_wrapper">
                                            <img src="@User.Claims.FirstOrDefault(c => c.Type == "ImagePath").Value" alt="profileImg">
                                        </div>
                                    </div>
                                }

                                else
                                {
                                    <div class="card_holders_wrapper">
                                        <div class="holder_image_wrapper">
                                            <img src="/image/default_profile_icon.svg" alt="profileImg">
                                        </div>
                                    </div>
                                }


                                <div class="card_details_info_wrapper">
                                    <div class="card_detail_item">
                                        <div class="item_icon">
                                            <i class="fa-regular fa-message" style="color: #787486;"></i>
                                        </div>
                                        <div class="item_count">
                                            <div class="mid_description">
                                                4
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_detail_item">
                                        <div class="item_icon">
                                            <i class="fa-solid fa-paperclip" style="color: #787486;"></i>
                                        </div>
                                        <div class="item_count">
                                            <div class="mid_description">
                                                10
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }
                </div>



                @if (Model.IsActiveToAddCard && column.Number == 1)
                {
                    <button class="action_btn white_btn open-popup-add">


                        <div class="action_btn_icon">
                            <i class="fa-solid fa-plus"></i>
                        </div>


                        <div class="description">
                            Добавить задачу
                        </div>


                    </button>
                }


            </div>
        }

    </div>
</section>


@if (TempData.ContainsKey("Message"))
{
    <script type="text/javascript">
        M.toast({ html: '@TempData["Message"]' }, 3000);
    </script>
}


@if (@Model.Columns.FirstOrDefault(x => x.Cards.Count() > 0) != null)
{
    <script>

        function accept() {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "/api/UserBoard/movecard",
                data: JSON.stringify({ userId: @Model.Id, columnId: @Model.Columns.FirstOrDefault(x => x.Cards.Count() > 0).Id }),
            })
        }

    </script>
}