@model TrelloClone.ViewModels.Report.ReportMonthModel


<table class="table" id="tableReport">


    <thead>
        <tr>
            <th>Наименование ССП</th>
            <th>ФИО работника</th>
            <th>Должность</th>
            <th>Непосредственный руководитель</th>
            <th>Наименование SMART-задачи</th>
            <th>Требование к задаче (что считается исполнением задачи)</th>
            <th>Плановый срок реализации задачи</th>
            <th>Оценочное суждение работника</th>
            <th>Комментарий работника</th>
            <th>Оценочное суждение непосредственного руководителя</th>
            <th>Оценочное суждение непосредственного руководителя</th>
            <th>% выполнения задачи в зависимости от присвоенного оценочного суждения непосредственного руководителя</th>
        </tr>
    </thead>


    <tbody>


        @foreach (var card in Model.ReportCardModelList)
        {
            <tr>
                <td>@card.EmployeeSspName</td>
                <td>@card.EmployeeName</td>
                <td>@card.EmployeePosition</td>
                <td>@card.SupervisorName</td>
                <td>@card.CardName</td>
                <td>@card.CardRequirement</td>
                <td>@card.CardStartTerm</td>
                <td>@card.EmployeeAssessmentText</td>
                <td>@card.EmployeeComment</td>
                <td>@card.SupervisorAssessmentText</td>
                <td>@card.SupervisorComment</td>
                <td>@card.SupervisorAssessmentValue</td>
            </tr>
        }


    </tbody>
</table>
