@model TrelloClone.ViewModels.CardDetails


<div class="popup__bg">
    <div class="popup_wrapper">
        <div class="leftside_popup_buttons_wrapper">
            <div class="leftside_button_wrapper" onclick="editCard(@Model.Id)">
                <div class="leftside_button_icon">
                    <i class="fa-solid fa-house"></i>
                </div>
                @*<div class="mid_title">Инфо</div>*@
            </div>
            @if (Model.Column > 3)
            {
                <div class="leftside_button_wrapper" onclick="editCard2(@Model.Id)">
                    <div class="leftside_button_icon">
                        <i class="fa-solid fa-check-to-slot"></i>
                    </div>
                    @if (Model.SupervisorAssessment == null || Model.EmployeeAssessment == null)
                    {
                        <div class="stage_indicator_circle red_bcolor"></div>
                    }
                </div>
            }
            <div class="leftside_button_wrapper active" onclick="editCard3(@Model.Id)">
                <div class="leftside_button_icon">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </div>
                @*<div class="mid_title">История</div>*@
            </div>
        </div>
        <div class="popup" cardId="@Model.Id">


            <div class="close-popup" onclick="closeCard(this)"><i class="fa-solid fa-xmark"></i></div>


            <div class="info_popup_card_wrapper">
                <div class="title margin_container_bottom_middle">История изменений</div>

                    <div class="history_main_wrapper grid_description_2fr margin_container_bottom">

                    @if (Model.Updates.Count() != 0)
                    {
                        <div class="history_list_wrapper" id="history_list_wrapper">
                            @foreach (var update in Model.Updates)
                            {
                                <div class="history_item_wrapper">


                                    <div class="first_row_grid_description">


                                        <div class="card_holders_wrapper">
                                            @if (update.UserImg != null)
                                            {
                                                <div class="holder_image_wrapper" style="background-image:url('@update.UserImg')">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="holder_image_wrapper" style="background-image:url('/image/default_profile_icon.svg');">
                                                </div>
                                            }
                                        </div>


                                        <div class="mid_title">
                                            @update.UserName
                                        </div>
                                    </div>


                                    <div class="second_row_grid_description" id="description">
                                        <div></div>


                                        <div class="history_info_wrapper">


                                            <div class="history_description_wrapper mid_description">
                                                <span class="main_description_history">@update.Content</span>
                                            </div>


                                            <div class="date_description">@update.Date.ToString("dd MMMM yyyy HH:mm")</div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    }else{
                        <div class="empty_image_wrapper">
                            <img src="~/image/EmptyState.png">
                            <div class="title">Еще пусто</div>
                        </div>
                    }

                        
                        
                    </div>

            
            </div>
        </div>


        <div class="comment_area_sidebar_wrapper">
            <div class="title margin_container_bottom_middle">Комментарии</div>
            <textarea class="mid_description" id="commentAreaElem" placeholder="Введите комментарий" onclick="addCommentArea(this)"></textarea>
            <div class="add_texteditor_buttons_wrapper add_comment_btns margin_container_top_small" id="addCommentBtns">
                <div class="action_buttons_wrapper ">


                    <div class="action_btn primary_btn" id="saveTextArea" onclick="saveComment(this)">
                        <div class="description">Добавить</div>
                    </div>


                    <div class="action_btn close_action_btn white_btn" id="saveTextArea" onclick="closeTextEditor(this)">
                        <div>
                            <i class="fa-solid fa-xmark" style="color: #000000;"></i>
                        </div>
                    </div>


                </div>
            </div>
            <div class="comment_popup_card_wrapper grid_description_2fr margin_container_bottom" id="comment_popup_card_wrapper">


                @*<div class="container_description first_row_grid_description">
                <div class="icon_description">
                <i class="fa-regular fa-comment" style="color: #0D062D;"></i>
                </div>

                <div class="mid_title">
                Комментарии
                </div>
                </div>*@






                @foreach (var comment in Model.Comments)
                {


                    <div class="comment_user_wrapper">
                        <div class="first_row_grid_description margin_container_top_middle">


                            <div class="card_holders_wrapper">
                                <div class="holder_image_wrapper" style="background-image:url('@comment.UserImg');">


                                    @*<img src="@comment.UserImg" alt="holder_image">*@


                                </div>
                            </div>


                            <div class="mid_title">
                                @comment.UserName
                            </div>
                        </div>


                        <div class="second_row_grid_description" id="description">
                            <div></div>


                            <div class="commentarea_wrapper" id="commentarea_wrapper">
                                <div class="comment_area">


                                    <div class="mid_description">@comment.Content</div>


                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts{


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


}